<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="pandoc">
    $for(author-meta)$
    <meta name="author" content="$author-meta$" />
    $endfor$
    $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$" />
    $endif$
    <title>$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$</title>
    <meta name="description" content="$if(title-prefix)$$title-prefix$ - $endif$$pagetitle$">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="my_reveal.css"/>
    $if(css)$
    $for(css)$
    <link rel="stylesheet" href="$css$"/>
    $endfor$
    $else$
    <link rel="stylesheet" href="$revealjs-url$/css/theme/black.css" id="theme">
    $endif$

    $if(highlighting-css)$
    <style type="text/css">
      $highlighting-css$
    </style>
    $else$
    <link rel="stylesheet" href="$revealjs-url$/lib/css/zenburn.css">
    $endif$

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if( window.location.search.match( /print-pdf/gi ) ) {
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = '$revealjs-url$/css/print/pdf.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    </script>
    <!--[if lt IE 9]>
	<script src="$revealjs-url$/lib/js/html5shiv.js"></script>
	<![endif]-->
    $if(math)$
    $math$
    $endif$
    $for(header-includes)$
    $header-includes$
    $endfor$
  </head>
  <body>
    $for(include-before)$
    $include-before$
    $endfor$
    <div class="reveal">
      <div class="slides">

	$if(title)$
	<section>
	  <h1 class="title">$title$</h1>
	  $if(subtitle)$
	  <h2 class="subtitle">- $subtitle$ -</h2>
	  $endif$
	  <p>
	    <b>$author$</b><br>
	    <emph>($origin$)</emph><br>
	    <a href="mailto:$email$">$email$</a>
	    <br><br>
	  </p>
	  
	  <h3 class="date">$date$</h3>
	</section>
	$endif$
	$if(toc)$
	<section id="$idprefix$TOC">
	  $toc$
	</section>
	$endif$

	$body$
      </div>
    </div>


    <script src="$revealjs-url$/lib/js/head.min.js"></script>
    <script src="$revealjs-url$/js/reveal.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      controls: false,
      progress: true,
      history: true,
      center: true,
      
      slideNumber: true,
      // The "normal" size of the presentation, aspect ratio will be preserved
      // when the presentation is scaled to fit different resolutions. Can be
      // specified using percentage units.
      width: $if(revealjs-width)$'$revealjs-width$'$else$1920$endif$,
      height: $if(revealjs-height)$'$revealjs-height$'$else$1080$endif$,

      // Factor of the display size that should remain empty around the content
      margin: 0.01,

      // Bounds for smallest/largest possible scale to apply to content
      minScale: 0.2,
      maxScale: 1.5,

      theme: $if(theme)$'$theme$'$else$Reveal.getQueryHash().theme$endif$, // available themes are in /css/theme
      transition: $if(transition)$'$transition$'$else$Reveal.getQueryHash().transition || 'default'$endif$, // default/cube/page/concave/zoom/linear/fade/none

      // Optional libraries used to extend on reveal.js
      dependencies: [
      { src: '$revealjs-url$/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      $if(highlighting-css)$
      //{ src: '$revealjs-url$/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      $else$
      { src: '$revealjs-url$/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      $endif$
      { src: '$revealjs-url$/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      { src: '$revealjs-url$/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
      //          { src: '$revealjs-url$/plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; }, }
      //          { src: '$revealjs-url$/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
      ]});
    </script>
    $for(include-after)$
    $include-after$
    $endfor$
  </body>
</html>
